@page
@model IDCardDemo.Pages.Holders.CreateModel

@{
    ViewData["Title"] = "Create";
}

@Html.AntiForgeryToken()

<link rel="stylesheet" href="~/css/photo.css" />
<link rel="stylesheet" href="~/css/signature.css" />

<h1>Create</h1>

<h4>Holder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4 class="text-danger font-weight-bold font-weight-italic">@ViewData["Status"]</h4>
        <h4>Fill out the form:</h4>
        <p>An asterisk (*) indicates a required field.</p>
        <form id="create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Holder.LastName" class="control-label"></label>*
                <input asp-for="Holder.LastName" class="form-control" />
                <span asp-validation-for="Holder.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holder.FirstName" class="control-label"></label>*
                <input asp-for="Holder.FirstName" class="form-control" />
                <span asp-validation-for="Holder.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holder.MI" class="control-label"></label>
                <input asp-for="Holder.MI" class="form-control" />
                <span asp-validation-for="Holder.MI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holder.DOB" class="control-label"></label>*
                <input type="date" max='@DateTime.Now.ToString("yyyy-MM-dd")' asp-for="Holder.DOB" class="form-control" />
                <span asp-validation-for="Holder.DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holder.Gender" class="control-label"></label>*
                <select asp-for="Holder.Gender" class="form-control">
                    <option value="M">M</option>
                    <option value="F">F</option>
                    <option value="N">N</option>
                </select>
                <span asp-validation-for="Holder.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holder.Height" class="control-label"></label>*
                <select asp-for="Holder.Height" asp-items="Model.Heights" class="form-control"></select>
                <span asp-validation-for="Holder.Height" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Holder.EyeColor" class="control-label"></label>*
                <select asp-for="Holder.EyeColor" asp-items="Model.EyeColor" class="form-control"></select>
                <span asp-validation-for="Holder.EyeColor" class="text-danger"></span>
            </div>
        </form>
        <hr />
        <h4>Take a photo:</h4>
        <ol type="a">
            <li><button onclick="cameraOn()">Turn on the camera</button></li>
            <li>
                <p>Center your face in the screen below:</p>
                <div id="videoContainer">
                    <div id="box"></div>
                    <video id="webcamVideo" width="300" height="300" autoplay></video>
                </div>
            </li>
            <li><button onclick="takePhoto()">Take a photo</button></li>
            <li>
                <p>Review your photo:</p>
                <canvas id="photoCanvas" width="300" height="300">
                    Your browser does not support the HTML5 canvas
                    tag.
                </canvas>
            </li>
            <li><button onclick="savePhoto()">Accept the photo</button></li>
        </ol>
        <hr />
        <h4>Add a signature:</h4>
        <button onclick="clearPad()">Clear the box</button>
        <br />
        <canvas class="my-2" id="signatureCanvas" width="320" height="120">
            Your browser does not support the HTML5 canvas
            tag.
        </canvas>
        <br />
        <button onclick="saveSignature()">Accept the signature</button>
        <hr />
        <h4>Add Holder:</h4>
        <p class="p-2 bg-warning text-dark rounded">
            Before pressing <b>Add Holder</b>, ensure you have filled in all the required fields,
            and that you have accepted both a photo and signature. Otherwise, the page will reload,
            and you will have to submit another photo and signature.
        </p>
        <input type="submit" value="Add Holder" form="create" />
        <hr />
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

<script type="text/javascript" src="~/js/photo.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/signature_pad.min.js" asp-append-version="true"></script>
<script type="text/javascript" src="~/js/signature.js" asp-append-version="true"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
