#photoCanvas,
#webcamVideo {
    background-color: black;
}

#videoContainer {
    position: relative;
}

#box {
    width: 200px;
    height: 200px;
    border: 1px dashed red;
    position: absolute;
    left: 50px;
    top: 50px;
}
